/*
==============================
BASIC SETUP
==============================
*/

body, select {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
}

strong {
    font-weight: bold;
}

.container {
    margin: 0 auto;
    width: 1280px;
    max-width: 92%;
}

/*
==============================
HEADER
==============================
*/

header {
    background: #000;
}

header h1 {
    font-size: 3em;
    font-weight: bold;
}

header .container {
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.parallelograms {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 66px;
}

.parallelograms .parallelogram {
    padding: 8px 1em;
    transform: skew(-15deg);
}
  
.parallelograms a {
    color: #f66;
    font-size: 3em;
}
  
.parallelogram:hover .fas {
    transform: skew(15deg) scale(1.15);
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.8);
}
  
.parallelograms .back {
    background: #900;
}
  
.parallelograms .instructions {
    background: #600;
}
  
.parallelogram .fas {
    transform: skew(15deg);
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
}

.dropbox, .scorebox {
    display: flex;
    justify-content: center;
    height: 66px;
}
  
.dropbox .dropdown {
    background: #fc0;
    color: #000;
    position: relative;
}
  
/* IE FIX */
.dropdown select::-ms-expand {
    display: none;
}
  
.dropdown:after {
    content: '▼';
    font-size: 1.2em;
    color: #663;
    position: absolute;
    top: 26px;
    right: 1em;
    z-index: 999;
}
  
.dropdown select {
    background: #fc0;
    color: #000;
    width: 100%;
    font-size: 2.5em;
    height: 66px;
    font-weight: bold;
    border: 0;
    padding: 0 1.25em 0 0.5em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}
  
.dropdown select:focus {
    outline: 0;
}
  
.dropbox .left,
.scorebox .left {
    width: 0;
    height: 0;
    border-top: 33px solid transparent;
    border-right: 9px solid #fc0;
    border-bottom: 33px solid transparent;
}
  
.dropbox .right,
.scorebox .right {
    width: 0;
    height: 0;
    border-top: 33px solid transparent;
    border-left: 9px solid #fc0;
    border-bottom: 33px solid transparent;
}
  
.scores {
    background: #fc0;
    color: #000;
    padding: 0 1em;
    font-size: 1.5em;
    display: flex;
    align-items: center;
}

.scores .arrow {
    color: #663;
}

.scores .arrow:hover {
    cursor: not-allowed;
}

/*
==============================
IMAGE
==============================
*/

.character-container {
    display: flex;
    padding: 4px 0 4px 0;
    flex-flow: row wrap;
    justify-content: center;
}

.character-image {
    background: #333;
    background-image: linear-gradient(to bottom right, #9cc 33%, #63f);
    border: 2px solid #000;
}

.big {
    width: 16%;
    height: 16%;
}

.medium {
    width: 14%;
    height: 14%;
}

.small {
    width: 10%;
    height: 10%;
}

.character-image:hover {
    outline: 4px solid #f33;
    outline-offset: -4px;
    cursor: pointer;
}

/*
==============================
INSTRUCTIONS
==============================
*/

.instructions-box {
    width: 100%;
    background: #fff;
    color: #000;
    padding: 20px;
}

.instructions-box p {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    line-height: 1.5em;
    padding-bottom: 0.5em;
}

.instructions-box .banner {
    background: #36f;
    color: #fff;
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
    padding: 0.5em 0;
    position: relative;
    margin-bottom: 0.5em;
    border-left: 0.75em solid #69f;
    border-right: 0.75em solid #69f;
}

.banner .fas {
    position: absolute;
    top: calc(1.5em - 50%);
    left: 1em;
}

/*
==============================
MEDIA QUERIES
==============================
*/

@media screen and (max-width: 1024px) {

    /*
    ==============================
    HEADER
    ==============================
    */
  
    header .container {
        grid-template-columns: auto 1fr;
        grid-gap: 8px;
    }

    .dropbox {
        grid-column: 1 / span 2;
        grid-row: 2;
    }

    .dropdown {
        width: 80%;
    }

    .scorebox {
        justify-self: end;
    }

    /*
    ==============================
    IMAGE
    ==============================
    */

    .big {
        width: 25%;
        height: 25%;
    }
    
    .medium {
        width: 20%;
        height: 20%;
    }
    
    .small {
        width: 14.5%;
        height: 14.5%;
    }
  
}

@media screen and (max-width: 560px) {

    /*
    ==============================
    HEADER
    ==============================
    */
  
    .parallelograms .parallelogram {
        padding: 8px 0.5em;
    }

    .scorebox,
    .dropbox {
        transform: scale(0.8);
    }

    /*
    ==============================
    IMAGE
    ==============================
    */

    .big {
        width: 26%;
        height: 26%;
    }
    
    .medium {
        width: 24%;
        height: 24%;
    }
    
    .small {
        width: 16.5%;
        height: 16.5%;
    }
  
}